<!DOCTYPE html>
<html>
  <head>
    <title>Treinamento2018</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="Os melhores cafés e blends tradicionais com mais de cinquenta anos de tradição. Venha conhecer nossas lojas."/>
  	<meta name="robots" content="index, follow"/>
  	<meta name="keywords" content="café, blend, café tradicional, cafeteria"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
